@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
	background: transparent !important;
}

* {
	user-select: none;
}

:root {
	--color-primary: #ff0051;
	--color-green: #6c941c;
	--color-red: #b92222;
	--cubic: cubic-bezier(0, 0.41, 0.25, 1);
}

.container-fluid {
	display:none; 
	transition: 0.5s var(--cubic) all;

	opacity: 0;
}


.container-fluid.show {
	display:block; 
	opacity: 1;
}


.container-fluid .ventana {
	width: auto;
	height: 75vh;
	background-color: #0c001ed5;
	box-shadow: 0 0 20px #00000061;
	padding: 2vh;
	position: relative;
	border-radius: 20px;
	color: white;
	transition: 0.25s var(--cubic) all;
	transform: scale(0.95);
	opacity: 0;
	/* display: none; */
}

.container-fluid.show .ventana {
	transform: scale(1);
	opacity: 1;
}

.container-fluid .ventana.armas {
	background-color: #0a0a0a;
	box-shadow: 0 0 40px #000000;

	border: 0.1vh solid #ffffff1a;
}

.container-menu {
	width: 75vh;
	z-index: 5 !important;
	position: relative;
}

.nav-tabs .nav-link {
	border-radius: 10px;
	width: 100%;
	color: white;
	font-family: 'Bebas Neue';
	font-size: 2vh;
	background-color: rgba(255, 255, 255, 0.158);
	border: 1px solid rgba(255, 255, 255, 0.411) !important;
}

.nav-tabs .nav-link:hover {
	background-color: rgba(255, 255, 255, 0.233);
}

.nav-tabs .nav-link.active:hover {
	background-color: white;
	color: black;
}

.nav-tabs {
	border: unset;
}

.tab-pane {
	animation: scaleIn 0.25s var(--cubic) forwards;
}

.imagen-lateral {
	position: absolute;
	bottom: 0;
	right: -8vh;
	width: 58vh;
}

.status-container,
.mejoras-container {
	border-radius: 20px;
	border: 1px solid rgba(255, 255, 255, 0.445);
	padding: 3vh;
	background-color: rgba(255, 255, 255, 0.185);

	margin-top: 3vh;
}

.title-action {
	font-family: 'Bebas Neue';
	font-size: 3vh;
	color: white;
	text-shadow: 0 0 20px rgba(255, 255, 255, 0.521);
	display: flex;
	align-items: center;
}

.title-action i {
	font-size: 5vh;
	margin-right: 1vh;
}

.stat-container {
	margin-bottom: 1vh;
}

.stat-container .title {
	font-size: 1.8vh;
	font-family: 'Bebas Neue';
	margin-left: 1vh;
	display: flex;
	align-items: center;
	line-height: 0.3vh;
	margin-bottom: 0.5vh;
}

.stat-container .title img {
	width: 2vh;
	margin-right: 0.5vh;
	margin-bottom: 0.3vh;
}

.stat-container .progress-c {
	height: 4vh;
	background-color: rgba(0, 0, 0, 0.199);
	border-radius: 3px;
	border: 1px solid rgba(255, 255, 255, 0.301);
	position: relative;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.089);
}

.stat-container .progress-c .bar {
	width: 0%;
	background: white;
	background-size: 67vh;
	height: 100%;
	border-radius: 3px;
	/* box-shadow: inset 0 0 10px #00000034; */
	border: 1px solid #ffffff5c;
	box-shadow: 0 0 10px var();
	transition: 1s cubic-bezier(0.95, 0, 0.25, 1) all;
}

.stat-container .cantidad {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	mix-blend-mode: difference;
}

.acciones-container {
	margin-top: 3vh;
}

.acciones-container .title-action {
	font-size: 4vh;
}

.btn-action {
	padding: 0.8vh 1vh;
	/* background-color: white; */
	border-radius: 5px;
	border: 1px solid #ffffff42;
	text-transform: uppercase;
	/* backdrop-filter: blur(10px); */
	cursor: pointer;
	background-color: rgb(255 255 255 / 20%);
	transition: 0.3s var(--cubic) all;
	font-size: 1.8vh;
	color: #ffffff;
	/* box-shadow: 0 0 10px rgb(0 0 0 / 19%); */
	text-shadow: 0 0 10px #ffffff00;
	/* border: unset; */
	font-family: 'Quicksand';
	font-weight: 600;
}

.employee {
	height: 3.5vh;
}
.employee .btn-action {
	font-size: 1.2vh;
}

.btn-action:hover {
	background-color: rgba(255, 255, 255, 0.288);
	box-shadow: 0 0 10px #00000069;
	color: white;
}

.btn-action.disable {
	opacity: 0.5;
	cursor: default;
	pointer-events: none;
}

#fabricar-armas .btn-action {
	height: 25vh !important;
}

.add-module.disable {
	pointer-events: none;
}

.plantas img {
	width: 20vh;
	filter: drop-shadow(0 0 10px white);
}

.plantas .adquiridas {
	font-family: 'Bebas Neue';
	text-transform: uppercase;
	margin-bottom: 1vh;
	padding: 0.5vh 0.5vh 0vh 0.5vh;

	margin-top: -3vh;
	font-size: 3vh;
	color: white !important;
	background-color: #000000c9 !important;
	z-index: 5;
	line-height: 3vh;
	/* font-family: "Quicksand"; */
	font-weight: 100;
	width: 10vh;
	box-shadow: 0 0 10px #00000085;
	border: 1px solid #ffffff2b;
	border-radius: 100px;
}

.burbuja {
	position: absolute;
	bottom: 8vh;
	left: 8vh;
	width: 40vh;
	height: 40vh;
	background-color: rgb(151 12 95 / 34%);
	filter: blur(74px);
	z-index: 1;
}

.burbuja2 {
	position: absolute;
	bottom: 35vh;
	right: 47vh;
	width: 20vh;
	height: 20vh;
	background-color: rgba(182, 8, 235, 0.788);
	filter: blur(150px);
	z-index: 1;
}

.burbuja3 {
	position: absolute;
	bottom: 35vh;
	right: 47vh;
	width: 20vh;
	height: 20vh;
	background-color: rgba(39, 163, 201, 0.788);
	filter: blur(150px);
	z-index: 1;
}

.burbuja4 {
	position: absolute;
	bottom: 8vh;
	left: 8vh;
	width: 40vh;
	height: 40vh;
	background-color: rgba(194, 146, 13, 0.26);
	filter: blur(74px);
	z-index: 1;
}

.burbuja5 {
	position: absolute;
	bottom: 8vh;
	left: 8vh;
	width: 40vh;
	height: 40vh;
	background-color: rgba(255, 255, 255, 0.26);
	filter: blur(74px);
	z-index: 1;
}

.burbuja6 {
	position: absolute;
	bottom: -3vh;
	left: 8vh;
	width: 70vh;
	height: 60vh;
	background-color: rgb(0 75 139 / 26%);
	filter: blur(74px);
	z-index: 1;
}

.burbuja7 {
	position: absolute;
	bottom: 35vh;
	right: 9vh;
	width: 74vh;
	height: 31vh;
	background-color: rgb(78 20 50 / 79%);
	filter: blur(150px);
	z-index: 0;
}

.btn-action2 {
	height: 8vh;
	background-color: #ffffffd8;
	margin: 1vh;
	color: rgb(0, 0, 0);
	border-radius: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3vh;
	font-family: 'Bebas Neue';
	border: 1px solid rgba(255, 255, 255, 0.295);
	cursor: pointer;
	box-shadow: 0 0 20px #ffffff75;
	line-height: 3vh;
	transition: 0.5s var(--cubic) all;
}

.btn-action2:hover {
	background-color: #fffffff3;
	box-shadow: 0 0 20px #ffffffaf;
	transform: scale(1.05);
}

.money {
	font-family: 'Quicksand';
	font-weight: 600;
	color: var(--color-green);
	/* text-shadow: 0 0 10px var(--color-green); */
	font-size: 1.7vh;
	line-height: 1.7vh;
}

.unlock {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}

.unlock .radial-bg {
	background: radial-gradient(#000000d1, black) !important;
}

.unlock .title {
	font-family: 'Bebas Neue';
	font-size: 8vh;
	color: white;
	text-shadow: 0 0 30px #ffffff8f;
	animation: fadeInUp 1s cubic-bezier(0.74, -0.01, 0.39, 1) forwards;
}

.unlock img {
	height: 48vh;
	margin: 2vh 0;
	animation-delay: 1s;
}

.unlock .continue-button {
	opacity: 0;
	animation: fadeInUp 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
	animation-delay: 1.5s;
}

.btn-anim {
	background-color: rgb(255 0 64 / 61%);
	color: white;
	font-family: 'Bebas Neue';
	font-size: 3.6vh;
	line-height: 2.6vh;
	width: 25vh;
	text-align: center;
	padding: 2.9vh 0 2.9vh 0;
	border-radius: 3px;
	text-shadow: 0 0 10px white;
	box-shadow: 0 0 30px rgba(235, 0, 71, 0.603);
	position: relative;
	transition: all cubic-bezier(0, 0.53, 0.3, 1) 0.3s;
	cursor: pointer;
	margin-top: 8vh;
}

.btn-anim:hover {
	transform: scale(1.05);
	background-color: rgba(255, 0, 64, 0.815);
}

.btn-anim .btn-bg {
	position: absolute;
	top: -0.5vh;
	left: -0.5vh;
	width: 26vh;
	height: 9.4vh;
	border-radius: 3px;
	border: 1px solid rgba(255, 255, 255, 0.349);
	opacity: 0;
	transition: all cubic-bezier(0.01, 0.73, 0.33, 1.55) 0.3s;
	z-index: 2;
	transform: scale(0.9);
	box-shadow: 0 0 20px rgba(255, 255, 255, 0.322),
		inset 0 0 20px rgba(255, 255, 255, 0.322);
	clip-path: polygon(
		0 0,
		20px 0,
		0 20px,
		0 0,
		100% 0,
		calc(100% - 20px) 0,
		100% 20px,
		100% 0,
		100% 100%,
		calc(100% - 20px) 100%,
		100% calc(100% - 20px),
		100% 100%,
		0 100%,
		20px 100%,
		0 calc(100% - 20px),
		0 100%
	);
}

.btn-anim:hover .btn-bg {
	opacity: 0.8;
	transform: scale(1);
	/* border-radius:3px; */
}

.btn-anim.disabled {
	opacity: 0.5;
	pointer-events: none;
}

.mejoras {
	height: 19vh;
	line-height: 3vh;
}

.mejoras .btn-action {
	font-size: 2.5vh;
	height: 100%;
	flex-direction: column;
	text-align: center;
	justify-content: space-around;
}

.mejoras .btn-action i {
	font-size: 4vh;
	/* margin-top: 4vh; */
	margin-bottom: 1vh;
}

.mejoras .btn-action .money {
	color: white !important;
	/* position: absolute; */
	bottom: 0.5vh;
}

.c-modal {
	background: radial-gradient(
		ellipse at center,
		rgb(0 0 0 / 72%) 0%,
		rgba(0, 0, 0, 0.9) 100%
	);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.modal-block {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-body {
	padding: 2vh 3vh;
	color: white;
}

.modal-content {
	width: max-content;
	background: #3a2c39;
	box-shadow: #190024 0px 0px 40px;
	border-radius: 10px !important;
	overflow: hidden;
	border: unset;
	border: 0.1vh solid #ffffff1a;
}

.modal-header {
	border: unset;
	padding: 1vh;
}

.modal-footer {
	margin-top: 1vh;
	border-top: unset;
	background: rgb(255 255 255 / 12%);
	justify-content: space-between;
}

.c-modal .title {
	text-shadow: 0 0 50px #ffffffc2;
	color: #ffffff;
	/* background: linear-gradient(90deg, #133064, transparent); */
	padding: 0.5vh 0.5vh;
	border-radius: 10px;
	font-size: 2vh;
	border: 1px solid #ffffff1f;
	background-color: rgb(133 14 73 / 95%);

	font-family: 'Quicksand';
	text-transform: uppercase;
	font-weight: 300 !important;
	letter-spacing: 0.3vh;
	width: max-content;
	box-shadow: 0 0 20px var(--color-acent);
}

.c-modal .btn-cancel {
	font-family: 'Quicksand';
	text-transform: uppercase;
	padding: 0.8vh 1vh;
	border-radius: 5px;
	font-weight: 500;
	background-color: rgb(0 0 0 / 38%);
	color: white;
	border: unset;
	font-size: 1.8vh;
	transition: 0.5s var(--cubic) all;
	cursor: pointer;
}

.c-modal .btn-cancel:hover {
	background-color: #000000;
}

.c-modal .btn-modal {
	font-family: 'Quicksand';
	text-transform: uppercase;
	padding: 0.8vh 1vh;
	border-radius: 5px;
	font-weight: 500;
	background-color: #ffffffd3;
	color: black;
	border: unset;
	font-size: 1.8vh;
	transition: 0.5s var(--cubic) all;
}

.c-modal .btn-modal:focus-visible {
	box-shadow: unset;
	border: unset;
	outline: unset;
}

.c-modal .btn-modal:hover {
	background-color: #fff;
}

.fadeIn {
	animation: fadeIn 0.3s ease-in-out forwards;
}

.modulos-container {
	display: flex;
	flex-direction: column;
}

.modulo {
	background-color: rgba(255, 255, 255, 0.226);
	border: 1px solid rgba(255, 255, 255, 0.144);
	display: flex;
	justify-content: space-between;
	border-radius: 3px;
	margin-bottom: 0.5vh;
}

.modulo-title {
	width: 100%;
	font-size: 2vh;
	font-family: 'Bebas Neue';
	padding: 0.5vh 1vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	line-height: 1vh;
}

.modulo-title .status {
	font-family: 'Quicksand';
	text-transform: uppercase;
	font-size: 1.5vh;
	width: 12vh;
	height: 1vh;
	border: 1px solid #ffffff5c;
	border-radius: 3px;
	background-color: #ffffff1f;
}

.status .bar {
	background-color: white;
	height: 100%;
	box-shadow: 0 0 10px #ffffff73;
	transition: 0.5s var(--cubic) all;
}

.status .bar.cortada {
	background-color: rgb(76, 167, 136);
	box-shadow: 0 0 10px rgba(76, 167, 137, 0.616);
}

/*NOTIFICACIONES*/

.notifications {
	display: flex;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	align-items: center;
	flex-direction: column;
	margin-top: 2vh;
	height: 0px;
	z-index: 9999999;
}

.notifications .notification {
	width: 70vh;
	padding: 2vh;
	color: white;
	display: flex;
	background-color: rgb(29 29 29 / 92%);
	border-radius: 10px;
	box-shadow: 0 0 30px rgb(0 0 0 / 26%);
	text-transform: uppercase;
	align-items: center;
	/* backdrop-filter:blur(10px); */
	margin-bottom: 1vh;
}

.notifications .notification .icon {
	font-size: 4vh;
	margin-right: 2vh;
}

.notifications .notification .name {
	font-family: 'Bebas Neue';
	font-size: 2.5vh;
	line-height: 2vh;
	margin-top: 0.8vh;
}

.notifications .notification .message {
	font-size: 1.4vh;
	opacity: 0.6;
	font-weight: 500;
}

.notifications .notification.success {
	background-color: #8aff8ac6;
	color: black;
}

.notifications .notification.error {
	background-color: rgba(146, 22, 22, 0.85);
	color: rgb(255, 255, 255);
}

.timer {
	white-space: nowrap;
	font-family: 'Quicksand';
	text-transform: uppercase;
	font-size: 1.3vh;
	background-color: #ffffff;
	color: var(--color-primary);
	line-height: 1.5vh;
	padding: 0vh 0.5vh;
	border-radius: 100px;
	font-weight: 600;
	transition: 0.5s var(--cubic) all;
	opacity: 0;
	display: flex;
	align-items: center;
	transform: translateX(-3vh);
}

.timer.active {
	opacity: 1;
	transform: translateX(0);
}

.timer img {
	width: 2vh;
	margin-right: 0.5vh;
	margin-bottom: 0 !important;
}

/*NOTIFICACIONES*/

.c-modal .btn-action {
	margin: 0.5vh;
	height: unset;
	font-size: 1.8vh;
	padding: 0.5vh 0.5vh 0.3vh 0.5vh;
	line-height: 1.8vh;
	/* min-width: 10vh; */
	width: max-content;
	white-space: nowrap;
}

.c-modal .btn-action i {
	font-size: 1.2vh;
}

.scale-in-2 {
	transform: scale(1.2);
	opacity: 0;
	animation: scale-in 0.5s var(--cubic) forwards;
}

.scale-out-2 {
	transform: scale(1);
	opacity: 1;
	animation: scale-out-2 0.7s var(--cubic) forwards !important;
}

@keyframes scaleIn {
	0% {
		transform: scale(0.98);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes scale-in {
	100% {
		transform: scale(1);
		opacity: 1;
	}
	/* 100%{
        transform:unset;
    } */
}

@keyframes scale-out-2 {
	100% {
		transform: scale(1.2);
		opacity: 0;
	}
}

.meta .imagen-lateral {
	position: absolute;
	bottom: 12vh;
	right: 2vh;
	width: 50vh;
	mix-blend-mode: hard-light;
	opacity: 0.5;
	filter: drop-shadow(0 0 30px #ffffff44);
}

.coca .imagen-lateral {
	position: absolute;
	bottom: 12vh;
	right: 2vh;
	width: 50vh;
	mix-blend-mode: hard-light;
	opacity: 0.5;
	filter: drop-shadow(0 0 30px #ffffff44);
}

.c-modal h3 {
	font-family: 'Bebas Neue';
	color: #ffffffa3;
	margin-bottom: 0;
	letter-spacing: 0.1vh;
	width: 100%;
	text-align: center;
	font-size: 3vh;
}

.c-modal h4 {
	font-family: 'Bebas Neue';
	color: #ffffffd7;
	margin-bottom: 0;
	letter-spacing: 0.1vh;
	width: 100%;
	text-align: center;
	text-shadow: 0 0 10px rgba(255, 255, 255, 0.61);
	font-size: 2vh;
}

.lista-armas {
	height: 40.8vh;
	overflow-y: auto;
	border-top: 0.1vh solid #ffffff1f;
	/* background-color: #0000001f; */
	border-bottom: 0.1vh solid #ffffff1f;
	display: flex;
	flex-direction: column;
}

.lista-armas .arma {
	background: linear-gradient(0deg, #00000018, #fdfdfd00);
	background-color: #dfdfdf;
	color: black;
	/* border-bottom: 1px solid white; */
	padding: 0 0.5vh;
	cursor: pointer;
	transition: var(--cubic) 0.3s all;
	box-shadow: inset 0 0 20px 20px transparent, 0 0 20px transparent;
	display: flex;
	gap: 0.5vh;
	align-items: center;
	position: relative;
}

.lista-armas .arma:hover {
	background-color: white;
	box-shadow: inset 0 0 20px 20px white, 0 0 20px rgba(255, 255, 255, 0.445);
}

.lista-armas .arma.bloqueado {
	filter: grayscale(1);
	opacity: 0.7;
	pointer-events: none;
}

.lista-armas .arma.selected .label-arma {
	color: white;
	transition-delay: 0.25s;
}

.lista-armas .arma .bg {
	display: block;
	content: '';
	position: absolute;

	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: cubic-bezier(0.7, 0.01, 0.1, 0.99) 0.5s all;
	transform: translateX(-105%);
	background: linear-gradient(0deg, rgb(251 69 154) 14%, rgb(184, 4, 90) 95%);
}

.lista-armas .arma.selected .bg {
	transform: translateX(0%);
	transition-delay: 0.15s;
	box-shadow: 0 0 20px rgba(184, 4, 91, 0.493);
	z-index: 0;
}

.lista-armas .arma .img-container {
	width: 4.5vh;
	height: 4.5vh;
	/* margin: 0.5vh; */
	border-radius: 5px;
	position: relative;
	display: flex;
	justify-content: center;
	z-index: 5;
	align-items: center;
	overflow: visible;
}
.lista-armas .arma .img-container .bg-img {
	position: absolute;
	filter: blur(8px);
	width: calc(100% - 1vh);
	height: calc(100% - 1vh);
	top: 0.5vh;
	left: 0.5vh;
	border-radius: 18px;
	transform: scale(0);
	transition: cubic-bezier(0.7, 0.01, 0.1, 0.99) 0.5s all;
}

.lista-armas .arma.selected .img-container .bg-img {
	background-color: rgb(255 255 255 / 98%);
	transform: scale(1);
	transition-delay: 0.3s;
}

.lista-armas .arma.selected .arma-level {
	transition-delay: 0.4s;
	background-color: white;
	color: rgb(184, 4, 88);
}

.lista-armas .arma .img-container img {
	height: 100%;
	z-index: 999;
}

.info-craft {
	background-color: #00000045;
	padding: 2vh;
	border-radius: 10px;
	height: 100%;
	overflow: hidden;
}

.container-armas {
	padding: 1vh 0;
	border-radius: 5px;
	background-color: #ffffff40;
	padding-bottom: 0;
	overflow: hidden;
	box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.219),
		0 0 20px rgba(255, 255, 255, 0.151);
}

.list-fade {
	-webkit-mask-image: linear-gradient(0deg, rgb(0 0 0 / 0%) 0%, black 4%, black 100%);
}

.lista-armas::-webkit-scrollbar {
	width: 0;
}

.form-control {
	font-size: 1.3vh;
	padding: 0.5vh 1vh;
	background-color: #c9c9c971;
	border: unset !important;
	font-weight: 600;
	text-align: center;
}

.form-control:focus {
	box-shadow: unset !important;
}

.form-control::placeholder {
	color: rgba(0, 0, 0, 0.315);
}

.input-buscar-arma {
	width: calc(100% - 2vh);
	margin-left: 1vh;
	margin-bottom: 0.5vh;
}

.arma .label-arma {
	font-family: 'Bebas Neue';
	font-size: 1.8vh;
	line-height: 1.8vh;
	padding-top: 0.2vh;
	z-index: 5;
	transition: var(--cubic) 0.5s all;
}

.arma-level {
	padding: 0 0.3vh;
	border-radius: 5px;
	background-color: rgb(184, 4, 88);
	color: white;
	text-transform: uppercase;
	font-size: 0.9vh;
	position: absolute;
	top: 0.5vh;
	transition: var(--cubic) 0.5s all;
	transition-delay: 0s;
	right: 0.5vh;
	font-weight: 500;
	z-index: 5;
}

.requerido-container {
	width: 8vh;
	height: 8vh;
	border-radius: 10px;
	background-color: rgba(128, 223, 128, 0.774);
	box-shadow: 0 0 20px rgba(128, 223, 128, 0.438);
	padding: 0.5vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	transition: 0.5s var(--cubic) all;
}

.requerido-container img {
	height: 100%;
}

.requerido-container .quantity {
	position: absolute;
	font-family: Quicksand;
	font-size: 1.5vh;
	color: white;
	background-color: #c90f4a;
	border-radius: 10px;
	font-weight: bold;
	padding: 0 0.5vh;
	bottom: -1vh;
	right: -1vh;
}

.requerido-container.sin-partes {
	background-color: rgba(221, 89, 89, 0.774);
	box-shadow: 0 0 20px rgba(221, 89, 89, 0.438);
}

.show-info {
	visibility: hidden;
	opacity: 0;
	transform: translateY(20vh);
	transition: cubic-bezier(0.91, 0.01, 0.19, 0.98) 0.5s all;
	height: calc(100% - 3vh);
}

.show-info.proceso .fabricando {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

.show-info.proceso .btn-fabricar-arma {
	visibility: hidden;
	opacity: 0;
	transform: translateY(10vh);
}

.btn-fabricar-arma {
	transition: transform 0.5s cubic-bezier(0.91, 0.01, 0.19, 0.98);
	opacity: 1;
	visibility: visible;
	transform: translateY(0vh);
}

.info-craft.show .show-info {
	visibility: visible;
	opacity: 1;
	transform: translateY(0);
}

.info-craft .img-container {
	width: 8vh;
	height: 8vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.info-craft .img-container img {
	height: 80%;
}

.info-craft .img-container .blur-bg {
	position: absolute;
	top: -1vh;
	left: -1vh;
	background-color: rgb(255 255 255 / 43%);
	filter: blur(17px);
	z-index: -1;
	border-radius: 100%;
	width: calc(100% + 2vh);
	height: calc(100% + 2vh);
}

.info-craft .arma-label {
	color: white;
	text-shadow: rgb(255 255 255 / 65%) 0px 0px 20px;
	font-size: 3.2vh;
	font-family: Bebas Neue;
}

.btn-action-2 {
	padding: 0.8vh 1vh;
	/* background-color: white; */
	border-radius: 5px;
	border: 1px solid #ffffff42;
	text-transform: uppercase;
	/* backdrop-filter: blur(10px); */
	cursor: pointer;
	background-color: rgb(255 255 255 / 20%);
	transition: 0.3s var(--cubic) all;
	font-size: 1.8vh;
	color: #ffffff;
	/* box-shadow: 0 0 10px rgb(0 0 0 / 19%); */
	text-shadow: 0 0 10px #ffffff00;
	/* border: unset; */
	font-family: 'Quicksand';
	font-weight: 600;
}

.btn-action-2:hover {
	background-color: rgba(255, 255, 255, 0.288);
	box-shadow: 0 0 20px #00000069;
	color: white;
}

.btn-action-2:active {
	border-color: rgba(255, 255, 255, 0.432);
	transform: scale(0.95);
	outline: unset;
	box-shadow: unset;
}

.fabricando {
	border: 0.1vh solid #31a6c130;
	border-radius: 10px;
	padding: 2vh;
	width: 100%;
	position: absolute;
	bottom: 2vh;
	background: linear-gradient(45deg, #31a6c138, #31a6c11f);
	transition: cubic-bezier(0.91, 0.01, 0.19, 0.98) 0.5s all;
	transform: translateY(10vh);
	opacity: 0;
	visibility: hidden;
}

.progress-fabricacion {
	border-radius: 5px;
	height: 2vh;
	border: 0.1vh solid rgba(255, 255, 255, 0.603);
	width: 100%;
}

.bar-fabricacion {
	border-radius: 4px;
	height: 101%;
	background-color: rgba(255, 255, 255, 0.603);
	width: 0%;
	box-shadow: 0 0 20px #ffffff59;
	overflow: hidden;
	position: relative;
	transition: linear 1s all;
}

.fabricando h4 {
	margin-bottom: 1vh !important;
}

.bar-fabricacion .animacion {
	position: absolute;
	background-color: white;
	width: 2vh;
	height: 2vh;
	filter: blur(4px);
	box-shadow: 0 0 5px white;
	left: -3vh;
	top: 0;
	border-radius: 100px;
	animation: progress 2s cubic-bezier(0.92, -0.01, 0.18, 0.99) infinite;
}

@keyframes progress {
	0% {
		transform: translateX(0%);
	}

	100% {
		transform: translateX(50vh);
	}
}

.open-inventory {
	position: absolute;
	top: 2vh;
	right: 2vh;
	height: 7vh;
	padding: 1vh;
	font-size: 2vh;
	padding-top: 1.5vh;
}

/*QUICKMENU*/

.ilegal-quickmenu .ilegal-block {
	position: fixed;
	right: 2vh;
	bottom: 4vh;
	width: 40vh;
	height: 90vh;
	background: linear-gradient(45deg, rgb(18 18 18 / 82%), rgb(34 34 34 / 85%));
	box-shadow: 0 0 40px rgb(0 0 0 / 40%);
	/* padding: 3vh; */
	color: white;
	/* border-left: 1px solid rgba(255, 255, 255, 0.068); */
	z-index: 2;
	/* animation: fadeOutRight 5s ease-in-out both; */
	opacity: 0;
	transform: translateX(5vh);
	visibility: hidden;
	transition: var(--cubic) 0.25s all;
	border-radius: 10px;
	overflow: hidden;
	user-select: none;
}

.ilegal-quickmenu.show .ilegal-block {
	/* animation: fadeInRight 0.5s ease-in-out both; */
	visibility: visible;
	transform: translateX(0vh);
	opacity: 1;
	transition: var(--cubic) 0.5s all;
}

.ilegal-quickmenu {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	visibility: hidden;
}

.ilegal-quickmenu.show {
	/* display:block; */
	visibility: visible;
}

.ilegal-quickmenu .ilegal-quickmenu-bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	/* backdrop-filter: blur(15px); */
	animation: fadeOut 0.3s ease-in-out forwards;
	z-index: 1;
}

.ilegal-quickmenu.show .ilegal-quickmenu-bg {
	animation: fadeIn 0.4s ease-in-out forwards;
}

.ilegal-tab-list {
	display: flex;
	width: 100%;
	background-color: rgb(255 255 255);
	/* border: 1px solid rgba(255, 255, 255, 0.664); */
	padding: 0.5vh 0.5vh 0 0.5vh;
	height: 4.5vh;
}

.ilegal-tab {
	width: 100%;
	cursor: pointer;
	transition: 0.5s var(--cubic) all;
	background-color: transparent;
	color: black;
	font-size: 2vh;
	padding: 0.5vh 0;
	text-align: center;
	margin-right: 0.5vh;
	border-radius: 10px 10px 0 0;
	box-shadow: 0 0 10px rgb(0 0 0 / 0%);
	/* width: 9.5vh; */
	display: flex;
	place-content: center;
	place-items: center;
}

.ilegal-tab:last-child {
	margin-right: 0;
}

.ilegal-tab img {
	width: 2.5vh;
	transition: 0.5s var(--cubic) all;
}

.ilegal-tab:hover {
	background-color: rgb(204, 204, 204);
	/* box-shadow:0 0 10px rgba(0, 0, 0, 0.404); */
}

.ilegal-tab:hover img {
	transform: scale(1.2);
}

.ilegal-tab.selected {
	background-color: #161616;
}

.ilegal-tab.selected img {
	transform: scale(1.2);
}

.ilegal-tab i {
	color: rgb(0, 0, 0);
	transition: 0.5s var(--cubic) all;
	opacity: 0.8;
}

.ilegal-tab.selected i {
	transform: scale(1.1);
	opacity: 1;
	color: white;
}

.ilegal-tab:hover i {
	transform: scale(1.1);
	opacity: 1;
}

.tab-list {
	/* padding:1vh; */
}

.tab-title {
	padding: 1.5vh 2vh;
	background: #161616;
	box-shadow: 0 0 20px #0000007d;
	font-size: 2.2vh;
}

.ilegal-quickmenu .tab-title img {
	width: 4.5vh;
	margin-right: 1.5vh;
}

.ilegal-quickmenu .tab-content {
	display: none;
	/* opacity:0; */
	/* transition: 0.3s var(--cubic) all; */
	/* transform:scale(0.8); */
	/* visibility: hidden; */
}

.ilegal-quickmenu .tab-content.active {
	display: block;
	/* opacity:1; */
	transform: scale(1);
	/* visibility: visible; */
}

.gobold {
	/* font-family: Gobold; */
	font-family: 'Bebas Neue', cursive !important;
}

::-webkit-scrollbar {
	width: 0.5vh;
	background-color: #ffffff00;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb {
	background-color: #ffffff;
	border-radius: 5px;
}

.margin-title {
	margin-top: 1vh !important;
}

.title-1 {
	text-align: center;
	border-radius: 5px;
	padding: 0 0.5vh;
	text-shadow: 0 0 10px rgb(255 255 255 / 62%);
	display: flex;
	flex-direction: column;
	align-content: center;
	margin-bottom: 1vh;
	font-size: 2.3vh;
	font-family: 'Bebas Neue', cursive !important;
	background: linear-gradient(13deg, #2f4181, #23d9c080);
	border: 1px solid rgb(249 249 249 / 9%);
	letter-spacing: 2px;
	line-height: 3vh;
	box-shadow: 0 0 20px #054ca56b;
}

.section-content {
	padding: 1vh;
}

.com-item {
	background-color: #ffffffcf;
	border-radius: 5px;
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 8vh;
	border: 1px solid white;
	cursor: pointer;
	transition: 0.5s var(--cubic) all;
	margin-bottom: 0.5vh;
}

.com-item:hover {
	background-color: #ffffff;
}

.com-title {
	font-size: 2.5vh;
	font-family: 'Bebas Neue';
}

.com-img {
	width: 5vh;
}

.com-ico {
	font-size: 4vh;
	margin: 0.5vh 0;
}

.invert {
	filter: invert(1);
}

.buttons .com-item {
	flex-direction: column;
}

.buttons .com-title {
	font-size: 1.5vh;
	text-align: center;
	line-height: 1.5vh;
}

.citizen-interaction {
	margin-bottom: 1vh;
}

.menu-lista > div {
	background-color: #ffffffcf;
	border-radius: 5px;
	color: black;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border: 1px solid white;
	cursor: pointer;
	transition: 0.5s var(--cubic) all;
	margin-bottom: 0.5vh;
	width: 100%;
	font-size: 2vh;
	line-height: 2.3vh;
	font-family: 'Bebas Neue';
	padding: 0 1vh;
	padding-top: 0.9vh;
	padding-bottom: 0.6vh;
}

.menu-lista > div:hover {
	background-color: #ffffff;
}

.menu-lista > div i {
	margin-right: 1vh;
}

.ply-iteminfo-container {
	font-family: Verdana;
	display: none;
	position: fixed;
	/* top: 35.3vw; */
	/* right: 24vw; */
	width: 23vh;
	/* animation: anim-escala 0.3s ease-in-out forwards; */
	/* text-transform: uppercase; */
	z-index: 9999999;
}

.iteminfo-content {
	/*border: .15vw solid #ff00009c; */
	border-radius: 5px;
	box-shadow: 0 0 20px #0000007a;
	background-color: #000000e0;
	padding: 1vh;
	border: 1px solid #ffffff2b;
}

.item-info-title {
	font-size: 2vh;
	color: #ffffffb5;
	font-family: 'Bebas Neue';
	/* background-color: #980000; */
	padding: 0 0.5vh;
	z-index: 2;
	text-transform: uppercase;
}

.item-info-title p {
	font-size: 2.5vh;
	color: white;
}

.item-info-line {
	position: absolute;
	font-family: Verdana;
	width: 100%;
	background-color: white;
	height: 0.1vh;
	top: 4.5vh;
	display: none;
	text-transform: uppercase;
}

.item-info-description {
	font-size: 1.3vh;
	font-family: 'Quicksand', sans-serif;
	color: #ffffffb3;
	padding: 0 0.5vh;
	z-index: -1 !important;
}

.item-info-description * {
	font-size: 1.3vh;
}

.item-info-description strong {
	color: white;
}

.weapon-desc-info {
	background-color: rgb(255 255 255 / 25%);
	padding: 0.5vh;
	border-radius: 3px;
	border: 1px solid #ffffff1f;
	margin-bottom: 0.5vh;
	color: white;
}

.weapon-number {
	text-transform: uppercase;
	font-size: 1.1vh;
}

.bullets {
	font-family: 'Bebas Neue';
	font-size: 1.5vh;
}

.itemboxes-container {
	/* min-height: 80px; */
	max-height: 55vh;
	width: fit-content;
	position: absolute;
	left: 1.2vh;
	bottom: 23vh;
	overflow: visible;
	padding-left: 2vh;
	padding-top: 1vh;
}

.itembox-container {
	/* display: none; */
	min-width: 24vh;
	height: 5.2vh;
	background: #000000cf;
	/* margin-bottom: 9px; */
	box-shadow: 0 0 20px #00000083;
	border-radius: 5px;
	overflow: visible;
	color: white;
	/* animation: fadeInLeft 0.3s cubic-bezier(0.000, 0.540, 0.145, 1.000) forwards; */
	opacity: 0;
	transform: translateX(-20px);
	margin-bottom: 0.5vh;
	border: 1px solid #ffffff27;
	padding-top: 1.3vh;
	padding-right: 1vh;
	position: relative;
	transition: var(--cubic) 0.3s all;
	transform: translateX(-10vh);
	opacity: 0;
}

.itembox-container.show {
	transform: translateX(0vh);
	opacity: 1;
}

.itembox-container .item-slot-img {
	top: 0;
	height: 5vh;
	padding: 0.5vh;
	position: absolute;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 5vh;
}

#itembox-action {
	position: absolute;
	left: 5vh;
	top: 0.7vh;
	opacity: 0.7;
	letter-spacing: 0.1vh;
}

#itembox-action > p {
	font-size: 1.1vh;
	font-family: 'Quicksand';
	text-transform: uppercase;
}

#itembox-label {
	/* position: absolute; */
	/* min-height: 2.2vh; */
	/* max-width: 25vh; */
	display: block;
	margin-left: 5vh;
}

#itembox-label > p {
	color: rgb(255 255 255);
	font-size: 2.5vh;
	text-transform: lowercase;
	font-family: 'Bebas Neue';
	font-variant: small-caps;
	font-weight: 100;
	letter-spacing: 2px;
	text-shadow: 0 0 10px #ffffffad;
	white-space: nowrap;
}

.template {
	display: none;
}

.section-content.armas {
	display: none;
}

.radio .radio-category .category-title {
	border-radius: 5px 0 5px 0;
	text-transform: uppercase;
	font-family: 'Quicksand';
	font-size: 1.4vh;
	/* width: max-content; */
	padding: 0.2vh 1vh;
	/* background: linear-gradient(6deg, #1d1d1d, #2e2e2e); */
	background-color: rgb(255 255 255 / 75%);
	color: #000000;
	font-weight: 600;
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.5s var(--cubic) all;
	transition-delay: 0s;
	cursor: pointer;
	user-select: none;
	width: 20vh;
}

.radio .radio-category .category-title:hover {
	background-color: rgb(255, 255, 255);
	color: #000000;
}

.radio .radio-category .toggle-category {
	position: absolute;
	top: -0.3vh;
	right: 0;
	color: rgba(255, 255, 255, 0.671);
	transition: 0.5s var(--cubic) all;
	cursor: pointer;
	padding: 1vh;
	font-size: 1vh;
}

.radio .radio-category .toggle-category:hover {
	color: white;
}

.radio .radio-category.toggle .toggle-category {
	transform: rotate(180deg);
}

.radio .radio-category .connected-users {
	position: absolute;
	top: 0.2vh;
	right: 3.5vh;
	/* color: var(--color-green); */
	font-size: 1.5vh;
	font-weight: 300;
	font-family: 'Quicksand';
	opacity: 100;
	transition: 0.5s var(--cubic) all;
}

/* .radio .radio-category.toggle .connected-users{
    opacity:100;
} */

.radio .user-list {
	margin: 1vh 0.5vh 1vh 0.5vh;
	/* border: 1px solid #00000087; */
	border-radius: 0 0 5px 5px;
	overflow-y: auto;
	max-height: 50vh;
	border-top: unset;
	margin-bottom: 1vh;
	font-size: 1.4vh;
	user-select: none;
	/* margin-bottom: 2vh; */
	transition: ease-in-out all;
	border-radius: 10px;
	padding: 0 0.3vh 0 0.3vh;
	transition: 0.5s var(--cubic) all;
	z-index: 999;
	min-height: 3vh;
}

.radio .radio-category.toggle .user-list {
	max-height: 0vh;
	/* overflow:hidden; */
	opacity: 0;
	/* margin-top:-3vh; */
	visibility: hidden;
	/* height:0vh; */
}

.radio .radio-category.vacio .user-list {
	height: 8vh;
	/* overflow:hidden; */
	opacity: 1;
}

.radio .radio-category.toggle.vacio .user-list {
	min-height: 0vh;
	/* overflow:hidden; */
	opacity: 0;
}

.radio .user-list .radio-user {
	/* width: 100%; */
	border-radius: 5px;
	color: #e5e5e5;
	padding: 0.2vh 1vh;
	/* border: 1px solid #ffffff5e; */
	font-family: 'Quicksand';
	margin-bottom: 0.5vh;
	display: flex;
	cursor: pointer;
	height: 2.8vh;
	min-width: 10vh;
	line-height: 1.8vh;
	align-items: center;
	background-color: #ffffff0f;
	justify-content: space-between;
	z-index: 9999 !important;
}

.radio .user-list .radio-user .speaking,
.radio .user-list .radio-user .volume-muted img {
	width: 2vh;
}

.radio .user-list .radio-user .speaking,
.radio .user-list .radio-user .volume-muted {
	opacity: 0;
	transition: 0.3s var(--cubic) all;
}

.radio .user-list .radio-user .volume-muted img {
	margin-right: 0.5vh;
	opacity: 0.3;
	transition: 0.3s var(--cubic) all;
}

.radio .user-list .radio-user:hover .volume-muted img {
	opacity: 0.5;
}

.radio .frecuencias {
	overflow-y: auto;
	height: 76vh;
	padding: 0 0.5vh;
	margin-top: 1vh;
	overflow-x: hidden;
}

.radio .user-list .radio-user:hover {
	background-color: #ffffff45;
	/* color:black; */
	/* transition: 0.5s var(--cubic); */
}

.radio .radio-category .no-users {
	width: 100%;
	position: absolute;
	top: 3.5vh;
	left: 0;
	color: #ffffff47;
	font-size: 1.3vh;
	text-transform: uppercase;
	text-align: center;
	visibility: hidden;
}

.radio .radio-category.vacio .no-users {
	visibility: visible;
}

.radio .radio-category.toggle .no-users {
	visibility: hidden;
}

.radio .user-list .circle {
	width: 1.5vh;
	height: 1.5vh;
	margin-top: 0.3vh;
	border-radius: 100%;
	margin-right: 1vh;
}

.radio .user-list .circle.red {
	background: linear-gradient(224deg, #df4040, #500000);
}

.radio .user-list .circle.green {
	background: linear-gradient(224deg, #40dfba, #005024);
}

.radio .user-list .circle.orange {
	background: linear-gradient(224deg, #dfae40, #875100);
}

.radio .user-list .radio-user i {
	margin-right: 0.8vh;
}

.radio .radio-category {
	background: rgb(14 14 14 / 85%);
	border-radius: 5px;
	box-shadow: 0 0 20px #00000047;
	position: relative;
	padding-top: 2.3vh;
	padding-bottom: 0.005vh;
	margin-bottom: 0.5vh;
	height: auto;
	max-height: 60vh;
	transition: 0.5s var(--cubic) all;
	/* overflow:hidden; */
}

.radio .radio-category.toggle {
	max-height: 2.5vh;
}

.radio-category.vacio {
	max-height: 7vh;
	height: 7vh;
}

.radio .radio-category.toggle .category-title {
	border-radius: 5px;
	/* transition-delay:0.3s; */
	width: 100%;
	background-color: rgba(48, 48, 48, 0.336);
	color: rgba(255, 255, 255, 0.795);
}

.radio .radio-category.toggle .category-title:hover {
	background-color: rgba(121, 0, 46, 0.151);
}

.radio .app-title > div {
	width: 33.33%;
}

.radio .app-title .zona-conectar {
	display: none;
}

.radio .connected {
	background-color: #00ad5d;
	box-shadow: 0 0 20px #00ad5df0;
	cursor: pointer;
	transition: 0.5s var(--cubic) all;
	overflow: hidden;
	position: relative;
	min-width: 18vh;
	font-size: 1.5vh;
	padding: 0 1vh;
}

.radio .connected:hover {
	background-color: #ad0000;
	box-shadow: 0 0 20px #ad0000f0;
}

.radio .connected .frecuencia-actual {
	transition: 0.5s var(--cubic) all;
	display: flex;
	align-items: center;
	justify-content: center;
}

.radio .connected:hover .frecuencia-actual {
	transform: translateY(-3vh);
	opacity: 0;
}

.radio .connected:hover .desconectar {
	transform: translateY(0vh);
	opacity: 1;
}

.radio .desconectar {
	position: absolute;
	width: 100%;
	top: 0.5vh;
	text-align: center;
	opacity: 0;
	transform: translateY(3vh);
	left: 0;
	transition: 0.5s var(--cubic) all;
}

.radio-list {
	height: 48vh;
	overflow-y: auto;
	/* padding: 1vh; */
	overflow-x: hidden;
}

.radio-section {
	margin-top: 2vh;
}

.bg-morado {
	background-color: #961b58;
	color: white;
}

.ui-sortable-helper {
	pointer-events: none;
}

.ui-sortable-placeholder,
.radio-hover {
	height: 2.8vh;
	width: 100%;
	border-radius: 5px;
	background-color: #ffffff70;
	margin-bottom: 0.5vh;
	animation: scale-in 0.5s var(--cubic) forwards;
	transform: scale(0.95);
	opacity: 0;
}

.text-success {
	color: var(--color-green) !important;
}

.carmic {
	display: none;
	position: absolute;
	color: white;
	font-size: 5vh;
	bottom: 40px;
	right: 20px;
}

.freq-name.text-success {
	text-shadow: 0 0 10px var(--color-green);
}

.connected-zone {
	flex-direction: column;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	color: grey;
	font-family: 'Quicksand';
	font-size: 1.5vh;
	text-transform: uppercase;
}

.disconnect-button {
	/* transition: ease-in-out 0.5s all; */
	cursor: pointer;
	text-shadow: 0 0 10px transparent;
	color: #dc3545;
	height: 0vh;
	opacity: 0;
	display: none;
}

.disconnect-button:hover {
	text-shadow: 0 0 10px #dc3546ba;
	transform: scale(1.1);
}

/*QUICKMENU*/

.spray-messages {
	width: 100%;
	position: fixed;
	bottom: 5vh;
	left: 0;
	display: flex;
	justify-content: center;
}

.spray-message {
	background-color: #000000cf;
	border-radius: 100px;
	color: white;
	padding: 0.5vh 1vh;
	font-size: 1.3vh;
	font-family: 'Quicksand';
	text-transform: uppercase;
	border: 0.1vh solid rgba(255, 255, 255, 0.192);
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.342);
	font-weight: 500;
	display: none;
}
