@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    overflow: hidden;
}

.main-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50.9375vw;
    height: 37.6563vw;
    background: #111111;
    border-radius: 2.0833vw;
}

.header {
    position: absolute;
    width: 100%;
    height: 4vw;
}

.logo-icon {
    position: absolute;
    width: 2vw;
    top: 1.5vw;
    left: 1.5vw;
}

.header-title {
    position: absolute;
    top: 0.5vw;
    left: 4.5vw;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.1625vw;
    color: #FFFFFF;
}

.search-input-container {
    position: absolute;
    width: 16.1563vw;
    height: 2.125vw;
    top: 1.35vw;
    left: 15vw;
}

.spotify-input {
    position: absolute;
    width: 16.1563vw;
    height: 2.125vw;
    background: #1E1E1E;
    border-radius: 2.0833vw;
    border: none;
    outline: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: .5333vw;
    padding-left: 2vw;
    padding-right: 2vw;
    color: #A1A1A1;
}

.search-icon {
    position: absolute;
    top: 0.6vw;
    left: 0.7vw;
    width: .9375vw;
    height: .9375vw;
    z-index: 12312321;
}

.left-grid {
    position: absolute;
    width: 27.9375vw;
    height: 32.6563vw;
    z-index: -123123;
}

.right-grid {
    position: absolute;
    left: 28vw;
    width: 22.9375vw;
    height: 32.6563vw;
    z-index: -12321123123;
}

.live-map-container {
    position: absolute;
    left: 1.4vw;
    top: 5vw;
    width: 12.6458vw;
    height: 17.6979vw;
    background: #1E1E1E;
    border-radius: .7813vw;
}

.spotify-container {
    position: absolute;
    left: 1.4vw;
    top: 23.5vw;
    width: 26.1vw;
    height: 5vw;
    background: #1E1E1E;
    border-radius: .7813vw;
}

.temperature-container {
    position: absolute;
    left: 14.8vw;
    top: 5vw;
    width: 12.6458vw;
    height: 8vw;
    background: #1E1E1E;
    border-radius: .7813vw;
}

.kilometer-container {
    position: absolute;
    left: 14.8vw;
    top: 13.8vw;
    width: 12.6458vw;
    height: 8.6979vw;
    background: #1E1E1E;
    border-radius: .7813vw;
}

.car-container {
    position: absolute;
    top: 44%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 17vw;
    height: 17vw;
}

.car {
    position: absolute;
    width: 17vw;
    height: 17vw;
}

.status-container {
    position: absolute;
    left: 1.4vw;
    top: 5vw;
    width: 20.1vw;
    height: 4vw;
    background: #1E1E1E;
    border-radius: .7813vw;
}

.plaka-back {
    position: absolute;
    width: 3vw;
    top: 54.5%;
    transform: translate(-50%, -50%);
    left: 48.8%;
}

.status-icon {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 11%;
    width: 2.8vw;
    height: 2.6vw;
    background: #2B2A2A;
    border-radius: .5333vw;
}

.status-svg {
    position: absolute;
    width: 1.2vw;
    height: 1.2vw;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}

.status {
    position: absolute;
    width: 20vw;
    left: 3.2vw;
    top: -0.4vw;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: .7292vw;
    color: #FFFFFF;
}

.status-subtitle {
    position: absolute;
    width: 20vw;
    left: 3.2vw;
    top: 0.9vw;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: .5208vw;
    color: #87888C;
}

.fuel-container {
    position: absolute;
    left: 3vw;
    top: 20vw;
    width: 8vw;
    height: 8vw;
}

.fuel-back {
    position: absolute;
    width: 6.6146vw;
    height: 5.4172vw;
}

.fuel-bar {
    position: absolute;
    top: 0.1vw;
    width: 6.6146vw;
    height: 3.3854vw;
    stroke-dasharray: 200 400;
    z-index: -2;
}

.fuel-icon {
    position: absolute;
    width: 0.9vw;
    left: 3vw;
    top: 2.5vw;
    z-index: 12321321;
}

.fuel-title {
    position: absolute;
    top: 2.8vw;
    width: 6.6146vw;
    text-align: center;
    z-index: 123232131;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: .7292vw;
    color: #FFFFFF;
}

.fuel {
    position: absolute;
    top: 3.75vw;
    width: 6.6146vw;
    text-align: center;
    z-index: 123232131;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: .7292vw;
    color: #FFFFFF;
}


/*  */

.rpm-container {
    position: absolute;
    left: 13.5vw;
    top: 20vw;
    width: 8vw;
    height: 8vw;
}

.rpm-back {
    position: absolute;
    width: 6.6146vw;
    height: 5.4172vw;
}

.rpm-bar {
    position: absolute;
    top: 0.1vw;
    width: 6.6146vw;
    height: 3.3854vw;
    stroke-dasharray: 200 400;
    z-index: -2;
}

.rpm-icon {
    position: absolute;
    width: 0.9vw;
    left: 3vw;
    top: 2.5vw;
    z-index: 12321321;
}

.rpm-title {
    position: absolute;
    top: 2.8vw;
    width: 6.6146vw;
    text-align: center;
    z-index: 123232131;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: .7292vw;
    color: #FFFFFF;
}

.rpm {
    position: absolute;
    top: 3.75vw;
    width: 6.6146vw;
    text-align: center;
    z-index: 123232131;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: .7292vw;
    color: #FFFFFF;
}

.speed-container {
    position: absolute;
    width: 20vw;
    height: 2.9vw;
    top: 27vw;
    left: 1.5vw;
}

.speed-center {
    position: absolute;
    left: 2.6vw;
    top: -1.5vw;
    scale: 0.8;
}

.speed-back {
    position: absolute;
    width: 17.9688vw;
    height: 16.7188vw;
    stroke-dasharray: 1500 1500;
    z-index: 12312312;
}

.speed-bar {
    position: absolute;
    width: 17.9688vw;
    height: 13.5417vw;
    stroke-dasharray: 1500 1500;
    z-index: 12312312;
}

.speed {
    position: absolute;
    left: 5.65vw;
    top: 5vw;
    width: 6.6146vw;
    text-align: center;
    z-index: 123232131;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1.9271vw;
    color: #FFFFFF;
}

.speed-type {
    position: absolute;
    left: 5.65vw;
    top: 8.5vw;
    width: 6.6146vw;
    text-align: center;
    z-index: 123232131;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: .8375vw;
    color: #87888C;
}

.distance-container {
    position: absolute;
    width: 10vw;
    height: 3vw;
    left: 50%;
    top: 13%;
    transform: translate(-50%, -50%);
    background: rgba(41, 41, 41, 0.84);
    border-radius: .3646vw;
}

.yön {
    position: absolute;
    width: 1.2vw;
    left: 0.7vw;
    top: 0.8vw;
}

.distance {
    position: absolute;
    width: 10vw;
    left: 0.3vw;
    text-align: center;
    top: -0.5vw;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1vw;
    color: #FFFFFF;
}

.distance-description {
    position: absolute;
    width: 10vw;
    left: 0.3vw;
    top: 1.35vw;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: .4813vw;
    color: #87888C;
}

.location-container {
    position: absolute;
    width: 100%;
    top: 15.2vw;
    height: 2.5vw;
    background: rgba(41, 41, 41, 0.84);
    border-bottom-left-radius: .7813vw;
    border-bottom-right-radius: .7813vw;
}

.location-1 {
    position: absolute;
    left: 0.5vw;
    top: 0.1vw;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: .5771vw;
    color: #FFFFFF;
}

.location-2 {
    position: absolute;
    left: 0.5vw;
    top: 0.8vw;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: .5vw;
    color: #87888C;
}

.cover-image {
    position: absolute;
    width: 6.5vw;
    height: 4vw;
    border-radius: 0.3vw;
    left: 15.3%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* background-image: url("./images/cover.png"); */
    background-size: cover;
    z-index: 123213213212132131232132121;
}

.cover-image[alt]:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #111111;
    font-weight: 300;
    line-height: 2vw;
    text-align: center;
    content: attr(alt);
    border-radius: 0.3vw;
}

.song-name {
    position: absolute;
    left: 8vw;
    width: 10vw;
    height: 1vw;
    overflow: hidden;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: .7375vw;
    color: #FFFFFF;
}

.song-author {
    position: absolute;
    left: 8vw;
    top: 1.1vw;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: .6292vw;
    color: #87888C;
}

.music-timeline-container {
    position: absolute;
    left: 12vw;
    top: 3.8vw;
    width: 13.3vw;
    height: 0.2vw;
    background-color: rgba(135, 136, 140, 0.15);
    border-radius: 0.4vw;
}

.timeline {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #CFF80B;
    border-radius: 0.4vw;
    max-width: 100%;
}

.spo-buttons {
    position: absolute;
    left: 17.8vw;
    transform: translate(-50%, -50%);
    top: 2.6vw;
    width: 12vw;
    height: 1vw;
}

.back-button {
    position: relative;
    margin-left: 1.6vw;
    width: 0.75vw;
}

.play-button {
    position: relative;
    margin-left: 1.6vw;
    top: 0.1vw;
    width: 0.6vw;
}

.forward-button {
    position: relative;
    margin-left: 1.6vw;
    width: 0.75vw;
}

.end-button {
    position: relative;
    margin-left: 1.6vw;
    width: 0.5vw;
}

.start-button {
    position: relative;
    margin-left: 1.6vw;
    width: 0.5vw;
}

.temperature-title {
    position: absolute;
    left: 0.8vw;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 0.8vw;
    color: #FFFFFF;
}

.interior-temperature {
    position: absolute;
    font-family: 'Poppins';
    left: 0.8vw;
    top: 1.4vw;
    font-style: normal;
    font-weight: 500;
    font-size: .6333vw;
    color: #87888C;
}

.temperature {
    position: absolute;
    left: 0.8vw;
    top: 1vw;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 2.1438vw;
    color: #FFFFFF;
}

.thermo-icon {
    position: absolute;
    width: 3vw;
    top: 2.5vw;
    left: 8.5vw;
}

.window-status {
    position: absolute;
    left: 0.8vw;
    top: 5.7vw;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: .5333vw;
    color: #FFFFFF;
}

.kilometer-chart-container {
    position: absolute;
    top: 3vw;
    height: 0.1vw;
    width: 100%;
    background-color: rgba(207, 248, 11, 0.36);
    border-radius: .08vw;
}

.kilometer-title {
    position: absolute;
    left: 0.8vw;
    top: -0.1vw;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 0.8vw;
    color: #FFFFFF;
}

.kilometer {
    position: absolute;
    font-family: 'Poppins';
    left: 0.8vw;
    top: 1.2vw;
    font-style: normal;
    font-weight: 500;
    font-size: .6333vw;
    color: #87888C;
}

.line {
    position: relative;
    width: 100%;
    height: 2vw;
    border-bottom: .0667vw dashed rgba(135, 136, 140, 0.35);
}

.chart-km-zero {
    position: absolute;
    left: 0.8vw;
    top: 2.2vw;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: .5292vw;
    color: #87888C;
}

.chart-km {
    position: absolute;
    left: 0.8vw;
    top: 0.3vw;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: .5292vw;
    color: #87888C;
}

.volume {
    position: absolute;
    -webkit-appearance: none;
    overflow: hidden;
    top: 2vw;
    left: 24.7vw;
    width: 4vw;
    height: 0.4vw;
    transform: rotate(-90deg);
    background-color: #1E1E1E;
    border-radius: 1vw;
}

::-webkit-slider-runnable-track {
    background-color: #1E1E1E;
    border-radius: 50%;
}

::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1.3333vw;
    height: 5.3333vw;
    background: #6a7c0e;
    border-radius: 50%;
    box-shadow: -26.6667vw 0 0 26.6667vw #CFF80B;
}

#sol-ön-kapi {
    position: absolute;
    top: 5.8vw;
    left: 4vw;
    width: 1.5vw;
    z-index: 123213;
}
#sol-ön-kapi:hover {
    cursor: pointer;
}

#sol-arka-kapi {
    position: absolute;
    width: 1.5vw;
    top: 8.5vw;
    left: 2.5vw;
    z-index: 123213;
}
#sol-arka-kapi:hover {
    cursor: pointer;
}

.right-kapi {
    position: absolute;
    left: 15.8vw;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    z-index: 12312321;
}

#right-kapi:hover {
    cursor: pointer;
}
#sağ-ön-kapi {
    position: absolute;
    top: 5.8vw;
    left: 3.3vw;
    width: 1.5vw;
    z-index: 123213;
}

#sağ-ön-kapi:hover {
    cursor: pointer;
}
#sağ-arka-kapi {
    position: absolute;
    width: 1.5vw;
    top: 8.5vw;
    left: 1.8vw;
    z-index: 123213;
}

#sağ-arka-kapi:hover {
    cursor: pointer;
}
#ön-kaput {
    position: absolute;
    width: 1.5vw;
    left: 49%;
    top: 30%;
    transform: translate(-50%, -50%);
    z-index: 123213;
}

#ön-kaput:hover {
    cursor: pointer;
}

#arka-kaput {
    position: absolute;
    width: 1.5vw;
    left: 49%;
    top: 45%;
    transform: translate(-50%, -50%);
    z-index: 123213;
}

#arka-kaput:hover {
    cursor: pointer;
}

.plaka {
    position: absolute;
    left: 7vw;
    top: 8.6vw;
    width: 2.5vw;
    height: 1.3vw;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: .5167vw;
    text-align: center;
    color: #0F274C;
    text-shadow: 0vw .0524vw .2621vw #FFFFFF;
    z-index: 12321;
}

.neon-settings {
    position: absolute;
    width: 25.9vw;
    left: 1vw;
    top: 29.8vw;
    height: 3vw;
}

.seat-settings {
    position: absolute;
    width: 25.9vw;
    left: 1vw;
    top: 33.9vw;
    height: 3vw;
}

.lights-settings {
    position: absolute;
    width: 10vw;
    left: 19.2vw;
    top: 29.8vw;
    height: 7vw;
}

.lights-button {
    position: relative;
    width: 4vw;
    height: 3vw;
    background: #1E1E1E;
    border-radius: .5375vw;
    float: left;
    margin-left: 0.5vw;
    margin-bottom: 1.1vw;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: .5208vw;
    text-align: center;
    line-height: 3vw;
    color: #FFFFFF;
    cursor: pointer;
}

.fa-camera {
    position: absolute;
    width: 4vw;
    left: 0vw;
    top: 0.7vw;
    text-align: center;
    font-size: 0.7vw;
}

#open-mini {
    line-height: 4.1vw;
}

.lights-title {
    position: absolute;
    font-family: 'Poppins';
    left: 0.5vw;
    top: -1.5vw;
    font-style: normal;
    font-weight: 500;
    font-size: .5333vw;
    color: #87888C;
}

.neon-button {
    position: relative;
    width: 4vw;
    height: 3vw;
    background: #1E1E1E;
    border-radius: .5375vw;
    float: left;
    margin-left: 0.5vw;
    margin-bottom: 0.5vw;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: .5208vw;
    text-align: center;
    line-height: 3vw;
    color: #FFFFFF;
    cursor: pointer;
}

.neon-title {
    position: absolute;
    font-family: 'Poppins';
    left: 0.5vw;
    top: -1.5vw;
    font-style: normal;
    font-weight: 500;
    font-size: .5333vw;
    color: #87888C;
}

.seat-button {
    position: relative;
    width: 4vw;
    height: 3vw;
    background: #1E1E1E;
    border-radius: .5375vw;
    float: left;
    margin-left: 0.5vw;
    margin-bottom: 0.5vw;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: .5208vw;
    text-align: center;
    line-height: 3vw;
    color: #FFFFFF;
    cursor: pointer;
}

.mdoor-button {
    position: relative;
    width: 4vw;
    height: 3vw;
    background: #1E1E1E;
    border-radius: .5375vw;
    float: left;
    margin-left: 0.5vw;
    margin-bottom: 0.5vw;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: .5208vw;
    text-align: center;
    line-height: 3vw;
    color: #FFFFFF;
    cursor: pointer;
}

.seat-title {
    position: absolute;
    font-family: 'Poppins';
    left: 0.5vw;
    top: -1.5vw;
    font-style: normal;
    font-weight: 500;
    font-size: .5333vw;
    color: #87888C;
}

.yol {
    position: absolute;
    width: 12.6458vw;
    height: 17.6979vw;
}

.ok {
    position: absolute;
    width: 1vw;
    left: 5.2vw;
    top: 9.75vw;
    transform-origin: center;
}

.seat-settings-mini {
    position: absolute;
    width: 10.9375vw;
    left: 0.9vw;
    top: 2vw;
    height: 3vw;
}

.door-settings-mini {
    position: absolute;
    width: 10.9375vw;
    left: 0.9vw;
    top: 10vw;
    height: 7vw;
}

.neon-settings-mini {
    position: absolute;
    width: 10.9375vw;
    left: 0.9vw;
    top: 21.3vw;
    height: 7vw;
}

.mini-menu {
    position: absolute;
    left: 94%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10.9375vw;
    height: 29vw;
    background: #111111;
    border-radius: 1.0833vw;
}


/*  */

.fa-expand {
    position: absolute;
    color: #FFFFFF;
    left: 9vw;
    top: 0.8vw;
    font-size: 0.8vw;
}

.fa-xmark {
    position: relative;
    color: #FFFFFF;
    margin-left: 0.8vw;
    left: 45.7vw;
    top: 1.5vw;
    font-size: 0.8vw;
    z-index: 12321321;
}

.fa-window-minimize {
    position: relative;
    margin-left: 0.8vw;
    color: #FFFFFF;
    left: 45.7vw;
    top: 1.3vw;
    font-size: 0.8vw;
    z-index: 12321321;
}

.surukle {
    position: absolute;
    left: 0vw;
    top: 0vw;
    width: 100%;
    height: 100%;
}

.mini-surukle {
    position: absolute;
    left: 0vw;
    top: 0vw;
    width: 100%;
    height: 100%;
}